/* Styling for the Image Slidew*/
section#slider > div > figure > img {
    display: none;
    margin: 0px auto;
  }
  
  section#slider > div > figure.show > img {
    display: block;
    overflow: hidden;
    border-radius: 20px;
    width: 700px;
    height: 350px;
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  section#slider > div > figure.show > img:hover {
    width: 720px;
    height: 360px;
  }
  
  #slider {
    display: flex;
    width: auto;
  }
  
  #slide {
    text-align: center;
    width: 500px;
    height: 360px;
    padding-top: 20px;
  }
  
  #left_text {
    font-family: "Sofia";
    font-size: 30px;
    color: #ffffff;
  }
  
  /*stying for the header*/
  p {
    font-family: "Sofia";
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 40px;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @-moz-keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  #text_wrapper {
    background-color: rgba(24, 3, 3, 0.466);
    width: max-content;
    height: 300px;
  }
  
  .nav_bar {
    height: 70px;
    align-content: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    text-align: center;
  }
  
  #blink_caption {
    color: #ffffff;
    font-size: 24px;
    padding: 10px;
    float: left;
  }
  #text {
    opacity: 0.6;
    font-family: "Sofia";
    font-size: 26px;
  }
  
  #blink {
    font-size: 30px;
    padding-left: 10px;
    opacity: 0;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @-moz-keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  
  #header_content {
    padding-left: 300px;
    padding-right: 300px;
  }
  
  #header_logo {
    height: 40px;
    padding: 15px;
    background: white;
    border-radius: 45%;
    float: left;
  }
  
  .navigation a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 37px;
   
  }

  #contact, #login, #menu{
    border-left-style: solid;
    border-left-color: bisque;
  }
  #login{
    border-right-style: solid;
    border-right-color: bisque;    
  }
  
  .navigation a:hover {
    background: #ddd;
    color: black;
    cursor: pointer;
  }
  
  /*Styling for the Image Banners Encapsulating the Image Slide*/
  #section1 {
    height: 350px;
    background-image: url("img/pizza1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #section3 {
    height: 350px;
    background-image: url("img/pizza.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #sections {
    padding-left: 300px;
    padding-right: 300px;
  }
  
  /*Styling for the Footer section*/
  footer {
    background-color: bisque;
    height: 50px;
    text-align: center;
  }
  #footer_content {
    padding-left: 300px;
    padding-right: 300px;
  }
  #terms {
    float: left;
    color: black;
  }
  
  #social_icons {
    float: right;
  }
  
  #social_icons a img {
    padding: 15px;
  }
  #bottom {
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  #license {
    bottom: 0;
    background-color: burlywood;
    width: 100%;
    font-family: "Sofia";
    font-size: 18px;
    padding: 3px;
  }
  
  /*Styling for the body background*/
  body {
    background-color: blueviolet;
    margin: 0px;
    padding: 0px;
    background-image: url("img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /*Styling for Buttons and fieldsets*/
  
  .signUp-btn {
    flex: unset;
    margin-bottom: 300px;
  }
  
  fieldset {
    height: 220px;
    border-radius: 10px;
  }
  
  /*Styling for the Password Validation Message which posps out when writting password*/
  #message {
    display: none;
    background: #f1f1f1;
    color: #000;
    opacity: 0.7;
  }
  
  #message h3 {
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
  }
  
  /* Styling to add a green text color and a tick when the requirements are met */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -15px;
    content: "✔";
  }
  
  .password {
    content: "✔";
    color: green;
  }
  
  /* Styling to add a green text color and an "✖"  when the requirements are not met */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -15px;
    content: "✖";
  }

  #comparePassword{
      padding-top: 5px;
  }

  /* Styling for the username and password input fields */
  #username,
  #password, #confirmPassword, #email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Styles for the cancel button */
  .cancle_btn {
    width: auto;
    padding: 10px 18px;
    background-color: rgba(49, 15, 15, 0.466);
  }
  
  /* Center the image and position the close button */
  .img_login {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  /*Styling the Fast Food Fast Logo in the login view*/
  img.logo {
    width: 40%;
    border-radius: 35%;
  }
  
  .loginParticulars {
    padding: 16px;
    text-align: left;
  }
  
  span.notMember {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  /* Styling the login container background */
  .main_container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    padding-top: 10px;
  }
  
  /* Stying the login container*/
  .login {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 25%;
    border-radius: 25px;
  }
  
  /* Styling the Close Button (x) */
  #close {
    position: absolute;
    right: 25px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /*Close button hover Effect*/
  #close:hover,
  #close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Stying for the Login section Zoom Animation */
  .zoom {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  }
  
  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }
  
  @keyframes animatezoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .container {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
  }
  